<h1>New Genre Form</h1><br><br>
<%=form_for @genre do |f| %>

Genre Name:<%= f.text_field :name %><br><br>
<%= f.submit "Create Genre" %><br><br>
<% end %>
<%= button_to "Cancel", genres_path, method: "get" %>
