<h1>Genre Page</h1><br>
<h1><b><%= @genre.name %></h1></b><br><br>
<%= button_to "Edit Genre", edit_genre_path(@genre), method: "get" %><br><br>
<%= button_to "Genre Index", genres_path, method: "get" %>